table {
    position: relative;
    margin: 20% 20%;
    background-color: tan;
}

td {
    height:75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
tr {
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
}

.whiteSquare {
    background-color: white;
}

.highlight {
    border: solid 2px yellow;
}

.playSquares {
    background-color: tan;
}

.redPieces, .blackPieces {
    /* height: 60px;
    width: 60px; */
    border-radius: 50%;
    cursor: pointer;
}

.redPieces {
    background-color: red;
}

.blackPieces {
    background-color: rgb(116, 116, 116);
}

