table {
    position: relative;
    margin: 20% 20%;
    background-color: pink;
}

td {
    height:75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
tr {
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
}

.whiteSquare {
    background-color: white;
}
.clicked {
    border: solid 1px yellow;
}

.playSquares {
    background: pink;
}

.blackPieces {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: black;
    cursor: pointer;
}

